#import library

In [65]:
import pandas as pd
from scipy.stats import ttest_ind

#Load the data

In [77]:
women_results = pd.read_csv('women_results.csv')
men_results = pd.read_csv('men_results.csv')

#Filter data to include only FIFA World Cup matches after 2002-01-01

In [80]:
men_fifa = men_results[(men_results['date'] >= '2002-01-01') & (men_results['tournament'] == 'FIFA World Cup')]
women_fifa = women_results[(women_results['date'] >= '2002-01-01') & (women_results['tournament'] == 'FIFA World Cup')]

In [72]:
men_fifa.head()

,Unnamed: 0,date,home_team,away_team,home_score,away_score,tournament
25164,25164,2002-05-31,France,Senegal,0,1,FIFA World Cup
25165,25165,2002-06-01,Germany,Saudi Arabia,8,0,FIFA World Cup
25166,25166,2002-06-01,Republic of Ireland,Cameroon,1,1,FIFA World Cup
25167,25167,2002-06-01,Uruguay,Denmark,1,2,FIFA World Cup
25168,25168,2002-06-02,Argentina,Nigeria,1,0,FIFA World Cup

In [74]:
women_fifa.head()

,Unnamed: 0,date,home_team,away_team,home_score,away_score,tournament
1600,1600,2003-09-20,Nigeria,North Korea,0,3,FIFA World Cup
1601,1601,2003-09-20,Norway,France,2,0,FIFA World Cup
1602,1602,2003-09-20,Germany,Canada,4,1,FIFA World Cup
1603,1603,2003-09-20,Japan,Argentina,6,0,FIFA World Cup
1604,1604,2003-09-21,United States,Sweden,3,1,FIFA World Cup

#Calculate the total goals scored in each match

In [82]:
men_goals = men_fifa['home_score'] + men_fifa['away_score']
women_goals = women_fifa['home_score'] + women_fifa['away_score']

In [85]:
men_goals.head()

25164    1
25165    8
25166    2
25167    3
25168    1
dtype: int64

In [87]:
women_goals.head()

1600    3
1601    2
1602    5
1603    6
1604    4
dtype: int64

#Perform the two-sample t-test

In [49]:
t_stat, p_val = ttest_ind(men_goals, women_goals, equal_var=False)

#Output the p-value

In [52]:
print(f"t-statistic: {t_stat}, p-value: {p_val}")

t-statistic: -2.812822759620731, p-value: 0.0051961448009743005

#Determine the result of the hypothesis test

In [89]:
alpha = 0.10
result = "reject" if p_val < alpha else "fail to reject"

#Store the result in the dictionary

In [92]:
result_dict = {"p_val": p_val, "result": result}

#Output the result

In [94]:
print(result_dict)

{'p_val': 0.0051961448009743005, 'result': 'reject'}